.container {
	max-width: 1170px;
	margin: 0 auto;
}

.container .row {
	display: flex;
	flex-wrap: wrap;
}

.col-md {
	flex: 1 1 0px;
}

.column {
	margin: 10px;
	border: 1px solid #000;
}

@media only screen and (max-width: 600px) {
	section {
		max-width: 100%;
	}
	.col-xs {
		flex-basis: 100%;
		margin: 10px;
	}
}